version: '3'

services:
  db:
    image: mariadb:10.5
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    restart: always
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    env_file:
      - db.env
    networks: 
      - backups

  redis:
    image: redis:alpine
    restart: always

  app:
    build: ./app
    restart: always
    volumes:
      - nextcloud:/var/www/html
      - ./app/upload_max_filesize.ini:/usr/local/etc/php/conf.d/upload-max-filesize.ini
      - ./app/memory-limit.ini:/usr/local/etc/php/conf.d/memory-limit.ini
    environment:
      - VIRTUAL_HOST=${DNS_ADDRESS}
      - LETSENCRYPT_HOST=${DNS_ADDRESS}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
      - MYSQL_HOST=db
      - REDIS_HOST=redis
    env_file:
      - db.env
    depends_on:
      - db
      - redis
    networks:
      - proxy-tier
      - default
      - backups

  borgmatic_backup:
    image: b3vis/borgmatic
    volumes:
      - nextcloud:/mnt/source:ro
      - ${VOLUME_TARGET}:/mnt/borg-repository
      - ./backup/borgmatic.d:/etc/borgmatic.d
      - borg-config:/root/.config/borg
      - borg-cache:/root/.cache/borg
    environment:
      - TZ=${TZ}
      - BORG_PASSPHRASE=${BORG_PASSPHRASE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - NEXTCLOUD_DATABASE=nextcloud
      - MYSQL_PWD=${MYSQL_ROOT_PASSWORD}
    restart: always
    networks:
      - backups
        
  cron:
    image: nextcloud:apache
    restart: always
    volumes:
      - nextcloud:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis

  proxy:
    build: ./proxy
    restart: always
    ports:
      - 80:80
      - 443:443
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    volumes:
      - certs:/etc/nginx/certs:ro
      - acme:/etc/acme.sh
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-tier

  letsencrypt-companion:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    volumes:
      - certs:/etc/nginx/certs
      - vhost.d:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy-tier
    depends_on:
      - proxy

volumes:
  db:
  nextcloud:
  certs:
  acme:
  vhost.d:
  html:
  borg-cache:
  borg-config:

networks:
  proxy-tier:
  backups:
